node_modules/
dist/
generated/
.env
.env.*
!.env.example

frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*
!frontend/.env.example

backend/node_modules/
backend/generated/
backend/dist/
backend/.env
backend/.env.*
!backend/.env.example

backend-dotnet/bin/
backend-dotnet/obj/
backend-dotnet/appsettings.Development.json
